# Ignore build directory
/build/

# Ignore files created by CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
*.cmake
Makefile

# Ignore compiled files
*.o
*.so
*.a
*.out
*.exe

# Ignore IDE-specific files
.idea/
*.swp
*.swo
*.swn
*.bak
*.orig